<%- include ("../partials/header")%>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Order for : <%=user.username%></h1>
    <h3 style="text-align: center;">Tzimer :<%=campground.name%></h3>
    <div style="width:30%; margin: 20px auto;">
    <form action="/campGround/<%=campground.id%>/order/<%=user.id%>" method="POST">  
      <div class="form-group">
        <input type="date" class="form-control" name="from" placeholder="From">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" name="to"  placeholder="To">
      </div>
      <div class="form-group">
        <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control" value="Submit">
      </div>
  
      <div class="form-group">
           <button><a href="javascript:history.back()">Back</a></button>      
       </div>
  </form> 
  </div>
 </div>
</div>
  
  
  
  <%- include ("../partials/footer")%>
  