<%- include ("../partials/header")%>
<div class="container">
  <div class="row">
    <h1 style="text-align: center; color: white; text-decoration-line: underline;"><%=user.username%> : הזמנה עבור </h1>
    <h3 style="text-align: center;color: white ; text-decoration-line: underline;"><%=campground.name%> : לצימר</h3>
    <div style="width:30%; margin: 20px auto;">
    <form action="/campGround/<%=campground.id%>/order/<%=user.id%>" method="POST">  
      <div class="form-group">
        <input type="date" class="form-control" name="from" placeholder="מתאריך">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" name="to"  placeholder="לתאריך">
      </div>
      <div class="form-group">
        <input class="btn btn-lg btn-primary btn-block" type="submit" class="form-control" value="הזמן עכשיו">
      </div>
  
      <div class="form-group">
           <button><a class="btn btn-sm btn-danger btn-block" href="javascript:history.back()">עמוד קודם</a></button>      

       </div>
  </form> 
  </div>
 </div>
</div>
  
  
  
  <%- include ("../partials/footer")%>
  