<%- include("../partials/header") %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <div class="row ">
        <div class="hidden-xs hidden-sm  col-md-5 col-lg-3 col-xl-3 searchoption">
          <div class="row separate d-none ">
            <label for="sort"> חפש  </label>
            <form class="form-inline" action="/campGround/filterandsort" id="filter" method="POST">
              <select class="form-control" name="filter">
                <option value="" disabled selected  hidden>חפש</option>
                <option value="">..הצג הכל</option>
                <option value="north">צפון</option>
                <option value="east">מערב</option>
                <option value="south">דרום</option>
                <option value="center">מרכז</option>
                <option value="bne-brak">בני ברק</option>
              </select>
              <select class="form-control"  name="sort">
                <option value=""disabled selected  hidden>מיין </option>
                <option value="location">מיקום </option>
                <option value="price">מחיר</option>
              </select>
                <button class="btn btn-lg btn-primary btn-block ">חיפוש מתקדם</button>
            </form>
          </div>
          <div class="row separate">
            <label for="sort"> מייו</label>
            <form class="form-inline" action="/campground/sortby" id="sort" method="POST">
              <select class="form-control" onchange="this.form.submit()" name="sort">
                <option value="" disabled selected  hidden>מיין</option>
                <option value="location">מיקום </option>
                <option value="price">מחיר</option>
              </select>
            </form>
          </div>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12 index-col-3-up ">
          <h1>גלאט צימר </h1>
          <h3>תיירות לציבור הדתי והחרדי </h3>
        </div>
      </div>
  </header>
  <div class="row text-center" style="display: flex;flex-wrap: wrap;">
    <%campground.forEach(function(campground){ %>
    <div class=" col-lg-3 col-md-4 col-sm-6">
      <div class="thumbnail">
        <img style="width: 286px; height: 200px;" src="<%= campground.image.home %>" class="img-thumbnail">
        <div class="caption">
          <h4><%= campground.name %> </h4>
          <h4><%= campground.author.username%> </h4>
        </div>
        <div class="row align-items-end">
          <a class="btn btn-primary btn-index-thumbnail" href="/campGround/<%= campground._id %>">פרטים</a>
        </div>
      </div>
    </div>
    <% });%>
  </div>
</div>
<%- include("../partials/footer") %>