<%- include("../partials/header") %>
<header class="jumbotron">
    <div class="container">
      <div class="row ">
        <div class="hidden-xs hidden-sm  col-md-5 col-lg-3 col-xl-3 searchoption">
          <div class="row separate d-none ">

            <div class="form-group">
              <button id="btn1" class="btn btn-lg btn-success btn-block" type="button" data-toggle="collapse"
                  data-target="#multiCollapseExample1" aria-expanded="false"
                  aria-controls="multiCollapseExample1">חיפוש מתקדם </button>
          </div>
          
              <div class="collapse multi-collapse" id="multiCollapseExample1">
            <form class="form-inline" action="/campGround/filterandsort" id="filter" method="POST">
              <input type="text" list="filter" multiple class="form-control" name="filter" placeholder="חפש עיר" />
              <datalist id="filter">
                <option value="jerusalem">ירושלים</option>
                <option value="safed">צפת</option>
                <option value="modiin">מודיעין עילית</option>
                <option value="netania">נתניה</option>
                <option value="meron">מירון</option>
                <option value="or-haganuz">אור הגנוז</option>
                <option value="arad">ערד</option>
                <option value="elad">אלעד</option>
                <option value="tiberias">טבריה</option>
                <option value="beitar-ilit">ביתר עילית</option>
                <option value="maale-amos">מעלה עמוס</option>
                <option value="kfar-chabad">כפר חבד</option>
              </datalist>
              <input type="text" list="sort" multiple class="form-control" name="sort"
                placeholder="..מיין תוצאות לפי" />
              <datalist id="sort">
                <option value="location">מיקום </option>
                <option value="price">מחיר</option>
              </datalist>
              <button class="btn-success btn-block">חפש</button>
            </form>
          </div>
          </div>
          <div class="row separate">
            
            <form class="form-inline" action="/campground/sortby" id="sort" method="POST">
              <input type="text" list="sort" multiple onchange="this.form.submit()" class="form-control" name="sort"
                placeholder=" ..מיין לפי  " />
              <datalist id="sort">
                <option value="location">מיקום </option>
                <option value="price">מחיר</option>

            </form>
          </div>
          <div class="row separate">
            <form id="navnarsearchoption" class="form-inline" action="/campGround/filtering" id="filter" method="POST">
              <input type="text" list="filter" multiple onchange="this.form.submit()" class="form-control" name="filter"
                placeholder="חפש עיר" />
              <datalist id="filter">
                <option value="jerusalem">ירושלים</option>
                <option value="safed">צפת</option>
                <option value="modiin">מודיעין עילית</option>
                <option value="netania">נתניה</option>
                <option value="meron">מירון</option>
                <option value="or-haganuz">אור הגנוז</option>
                <option value="arad">ערד</option>
                <option value="elad">אלעד</option>
                <option value="tiberias">טבריה</option>
                <option value="beitar-ilit">ביתר עילית</option>
                <option value="maale-amos">מעלה עמוס</option>
                <option value="kfar-chabad">כפר חבד</option>
              </datalist>
            </form>
          </div>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12 index-col-3-up ">
          <h1>גלאט צימר </h1>
          <h3>תיירות לציבור הדתי והחרדי </h3>
        </div>
      </div>
  </header>
  <div class="container"> 

  <div class="row text-center" style="display: flex;flex-wrap: wrap;">
    <%campground.forEach(function(campground){ %>

        <div class=" col-lg-3 col-md-4 col-sm-6">
        <div class="thumbnail">
          <%if(campground.image.autside.contentType !=undefined ){%>
        <img style="width: 286px; height: 200px;"src="data:image/<%=campground.image.autside.contentType%>;base64,
        <%=campground.image.autside.data.toString('base64')%>" alt="חסרה תמונה! " class="img-thumbnail">
       <%}%>
        <div class="caption">
          <h4><%= campground.name %> </h4>
          <h4><%= campground.author.username%> </h4>
        </div>
        <div class="row align-items-end">
          <a class="btn btn-primary btn-index-thumbnail" href="/campGround/<%= campground._id %>">פרטים</a>
        </div>
      </div>
    </div>
    <% });%>
  </div>
</div>
<%- include("../partials/footer") %> 
