<%- include("../partials/header") %>

<div class="container">
  <div class="row">
     <div class="col-md-3">
      <div class="list-group">
         <a class="list-group-item btn disabled" href="/campGround/<%= campground._id%>/orders"> :הזמנות ל<%= campground.name%> </a>
         <div class="well">
            <div class="text-right">
               <p>תיאור :  <%= campground.description %></p>
            </div>        
            <div class="text-right">
               <p><%= campground.location %>: מיקום  </p>
            </div>        
            </div>
       </div>
     </div>
     <div class="col-md-9">
        <div class="thumbnail">
           <div class="show-nice">
              <div  class="row">
                 <div class="col-md-6">
                    <img class="img-responsive img-thumbnail" src="<%= campground.image.home%>">
                  </div> 
                  <div class="col-md-6">
                     <img class="img-responsive img-thumbnail" src="<%= campground.image.autside%>">
                  </div> 
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <img class="img-responsive img-thumbnail" src="<%= campground.image.home1%>">
                  </div> 
                  <div class="col-md-6">
                     <img class="img-responsive img-thumbnail" src="<%= campground.image.autside1%>">
                  </div> 
               </div>
            </div>
               
                 <tr>
                  <div class="caption-full">
                  <h4 class="pull-left"><%= campground.price%> ILS /ללילה  </h4>
                 
                  <div class="caption ">
                     <div id="location_in_thumbnail">
                             <h4>שם המקום : <a href="/campGround/<%= campground._id%>/orders"><%= campground.name %></a></h4> 
                              <p><em><%= campground.author.username%></em> :נוצר על ידי</p> 
                          </div>

                     <%if(currentUser && campground.author.id.equals(currentUser.id)){%>
                        
                        <button><a class="btn btn-success" href="/campGround/<%=campground._id%>/order/<%= currentUser._id%>/new">הזמנה חדשה</a></button>
                        <button><a class="btn btn-warning " href= "/campGround/<%= campground._id%>/edit">ערוך</a></button> 
                        <form class="delete-form" action="/campGround/<%= campground._id%>?_method=DELETE"method="POST">
                          <button  class="btn btn-danger">מחק</button>
                        </form>                          

               <%}%>
                
            <div class="well">
              <div class="text-right">
               <!-- <a class="btn btn-success" href="/campGround/<%= campground._id %>">View Orders</a> -->
               <a class="btn btn-success" href="/campGround/<%= campground._id %>/comment/new">הוסף תגובה</a>
              </div>        
                 <% campground.comments.forEach(function(comment){ %>
                  <div class="row">
                     <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>  
                  
                       <p><%= comment.text %></p>
                       <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
                       <a href="/campGround/<%= campground._id %>/comment/<%= comment._id%>/edit" class="btn btn-xs btn-warning">ערוך </a>
                        <form class="delete-form" action="/campGround/<%= campground._id %>/comment/<%= comment._id%>?_method=delete" method="post">
                         <input type="submit" class="btn btn-xs btn-danger" value="מחק">
                        </form>
                        <%}%> 
                     </div>
                  </div>
                 <% })%>

               </div>
            </div>
        
         
        
        
         
         </div>
        </div>
     </div>
  </div>

</div>   

<%- include("../partials/footer") %>